@import url('https://fonts.cdnfonts.com/css/new-super-mario-font-u');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body {
    background-color: green;
}
.game-board{
    visibility: hidden;
    width: 100%;
    height: 600px;
    border-bottom: 50px solid green;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#63c4eb, #E0F6FF)
}

.menu {
    visibility: visible;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#63c4eb, #E0F6FF);
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.sun{
    display: fixed;
    position: absolute;
    top: 20%;
    right: 20%;
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 50px;

}


.title {
    bottom: 20px;
    margin-top: 5px;
    border-radius: 10px;
    position: absolute;
    text-align: center;
    font-family: 'New Super Mario Font U', sans-serif;
    font-size: 60px;
    color: #6A0400;
    text-shadow: 2px 2px aliceblue;
    position: relative;
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 60px;
    animation: pipe-animations 1.5s infinite linear;
}

.mario{
    width: 120px;
    position: absolute;
    bottom: 0px;
}

.jump{
    animation: mario-animation 500ms ease-out;
}

.cloud{
    width: 500px;
    position: absolute;
    animation: cloud 20s infinite linear;
}

.game-over{
    visibility: hidden;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(65, 57, 57, 0.5)
}

.btns {
    display: block;
    position: relative;
    right: 50%;
    bottom: 60%;
    left: 0;
    margin: 0;
    top: 40%;
    width: 100%;
}

.btn {
    display: block;
    position: relative;
    right: 50%;
    bottom: 60%;
    left: 0;
    margin: 0;
    top: 30%;
    width: 100%;
}

.restart, .gomenu, .startGame{
    position: relative;
    margin: 2px 0px 5px 0px;
    height: 70px;
    width: 90%;
    border-radius: 10px;
    left: 5%;
    border: none;
    font-family: 'New Super Mario Font U', sans-serif;
    font-size: 25px;
    background-color: #63c4eb;
}

@keyframes pipe-animations {
    from{
        right: -80px;
    }

    to{
        right: 100%;
    }
}

@keyframes mario-animation{
    0%{
        bottom: 0;
    }

    40%{
        bottom: 120px
    }

    50%{
        bottom: 120px;
    }

    60%{
        bottom: 120px
    }

    100%{
        bottom: 0px
    }
}

@keyframes cloud {
    from{
        right: -550px;
    }

    to{
        right: 100%
    }
}

@media (max-width: 620px){
    .mario{
        width: 120px;
        position: absolute;
        bottom: 0px;
    }

    .pipe{
        position: absolute;
        bottom: 0;
        width: 50px;
        animation: pipe-animations 1s infinite linear;
    }
}


